@model CreateUserViewModel

<h2 class="form-header">Добавление пользователя</h2>
<form class="form-body" asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-input">
        <label asp-for="UserName">Имя пользователя</label><br />
        <input type="text" asp-for="UserName"/>
    </div>
    <div class="form-input">
        <label asp-for="Email">Email</label><br />
        <input type="text" asp-for="Email"/>
    </div>
    <div class="form-input">
        <label asp-for="Password">Пароль</label><br />
        <input type="text" asp-for="Password"/>
    </div>
    <div class="form-input">
        <label asp-for="PhoneNumber">Телефон</label><br />
        <input type="text" asp-for="PhoneNumber"/>
    </div>
    <div class="form-button">
        <input class="action-link-default" type="submit" value="Добавить"/>
    </div>
</form>