@model IEnumerable<User>

<h2 class="form-header">Список пользователей</h2>

<table class="form-body" cellspacing="0">
    <tr class="table-header"><th>Пользователь</th><th>Email</th><th>Дата регистрации</th></tr>
   @foreach (var user in Model)
    {
    <tr class="table-row">
        <td><a class="object-link" asp-action="Profile" asp-route-id="@user.Id">@user.UserName</a></td>
        <td>@user.Email</td>
        <td>@user.Registration</td>
    </tr>
    }
</table>