@using Microsoft.AspNetCore.Identity
@model EditRolesViewModel

<h2 class="form-header">Управление ролями</h2>
<form class="form-body" asp-action="Roles" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <!--<div class="form-input">
        <label asp-for="UserName">Имя пользователя</label><br />
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="Email">Email</label><br />
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="PhoneNumber">Телефон</label><br />
        <input type="text" asp-for="PhoneNumber"/>
    </div>-->
    <div>
       @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                    @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <div class="form-button">
        <input class="action-link-default" type="submit" value="Сохранить"/>
    </div>
</form>
