.lot-body {
    padding: 8px 16px 0px 16px;
}

.lot-header {
    display: flex;
    justify-content: space-between;
}

.lot-header-name {
    font-size: 32px;
    font-weight: 600;
}

.lot-header-time {
    padding: 4px;
    font-size: 18px;
    color: #808080;
}

.lot-main {
    display: flex;
}

.lot-image {
    padding-right: 16px;
    width: 480px;
}

.lot-image img {
    object-fit: cover;
}

.lot-short-desc {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

#lot-table-left {
    width: 50%;
    max-width: 390px;
    margin-right: auto;
}

#lot-table-right {
    width: 50%;
    max-width: 420px;
}

.lot-short-desc-title {
    font-size: 22px;
}

.lot-short-desc-data {
    font-size: 19px;
}

.lot-main-desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

.lot-main-desc-title {
    font-size: 22px;
    margin: 10px 0px 10px 0px;
}

.main-desc-data {
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.lot-bids{
    width: 100%;
    display: flex;
}

.lot-bids-table-div {
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lot-bids table {
    width: 100%;
}

#create-lot-desc {
    height:80px;
    width:300px;
}