#profile-body {
    display: flex;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 16px 0px 16px;
}

.desc-table-title {
    font-size: 22px;
}

.desc-table-content {
    font-size: 19px;
}

#profile-desc {
    min-width: 420px;
}

#profile-desc table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:200px;
    min-width: 360px;
}

.profile-table-space {
    width: 100%;
    max-height: 640px;
    overflow-y: auto;
}

.profile-table-space table{
    font-size: 18px;
    width: 100%;
}

.profile-tabs-panel {
    width: 100%;
    margin-top:16px;
}
