@model CreateLotViewModel

<h2 class="form-header">Создание лота</h2>
<form class="form-body" asp-action="Create" asp-controller="Lots" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-input">
        <label asp-for="Name">Название</label><br />
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="Year" >Год выпуска</label><br />
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="EngineVolume">Объём двигателя</label><br />
        <input type="text" asp-for="EngineVolume" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="Mileage">Пробег</label><br />
        <input type="number" asp-for="Mileage" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="Price">Начальная стоимость</label><br />
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div  class="form-input">
        <label asp-for="Transmission">Коробка</label><br />
        <select asp-for="Transmission">
            @foreach (var t in transmission)
            {
                <option value=@t>@t</option>
            }
        </select>
    </div>
    <div  class="form-input">
        <label asp-for="Fuel">Топливо</label><br />
        <select asp-for="Fuel">
            @foreach (var f in fuel)
            {
                <option value=@f>@f</option>
            }
        </select>
    </div>
    <div  class="form-input">
        <label asp-for="Body">Кузов</label><br />
        <select asp-for="Body">
            @foreach (var b in body)
            {
                <option value=@b>@b</option>
            }
        </select>
    </div>
    <div  class="form-input">
        <label asp-for="Drive">Привод</label><br />
        <select asp-for="Drive">
            @foreach (var d in drive)
            {
                <option value=@d>@d</option>
            }
        </select>
    </div>
    <div  class="form-input">
        <label asp-for="Desc">Описание</label><br />
        <textarea id="create-lot-desc" asp-for="Desc"></textarea>
    </div>
    <div class="form-input">
        <label asp-for="Duration">Продолжительность (от 1 до 30 дн)</label><br />
        <input type="number" asp-for="Duration" class="form-control" />
    </div>
    <div class="form-input">
        <label asp-for="Image">Изображение</label><br />
        <input type="file" accept=".jpg,.png" asp-for="Image" />
    </div>
    <div class="form-button">
        <input class="action-link-default" type="submit" value="Добавить"/>
    </div>
</form>
