<h2>Все лоты</h2>
@{
    foreach (var lot in Model.allLots)
    {
        <div>
            <h4>@lot.name</h4>
            <p>@String.Format("{0}, {1}, {2} л., {3}, {4}, {5} км.", lot.year, transmission[lot.transmission], lot.engineVolume.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")), fuel[lot.fuel], body[lot.body], lot.mileage)</p>
        </div>
    }
}

