@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ChangePasswordViewModel

<h2 class="form-header">@Localizer["PasswordChanging"]</h2>
<form class="form-body" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-input">
        <label asp-for="OldPassword">@Localizer["OldPassword"]</label><br />
        <input type="password" asp-for="OldPassword" />
    </div>
    <div class="form-input">
        <label asp-for="NewPassword">@Localizer["NewPassword"]</label><br />
        <input type="password" asp-for="NewPassword" />
    </div>
    <div class="form-input">
        <label asp-for="NewPasswordConfirm">@Localizer["PasswordConfirmation"]</label><br />
        <input type="text" asp-for="NewPasswordConfirm" />
    </div>
    <div class="form-button">
        <input class="action-link-default btn btn-default" type="submit" value=@Localizer["Save"] />
    </div>
</form>
