@model ChangePasswordViewModel

<h2 class="form-header">Изменение пароля</h2>
<form class="form-body" asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id"/>

    <div class="form-input">
        <label asp-for="OldPassword">Старый пароль</label><br />
        <input type="text" asp-for="OldPassword"/>
    </div>
    <div class="form-input">
        <label asp-for="NewPassword">Новый пароль</label><br />
        <input type="text" asp-for="NewPassword"/>
    </div>
    <div class="form-input">
        <label asp-for="NewPasswordConfirm">Подтверждение пароля</label><br />
        <input type="text" asp-for="NewPasswordConfirm"/>
    </div>
    <div class="form-button">
        <input class="action-link-default" type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>
