@model RegisterViewModel

<h2 class="form-header">Регистрация нового пользователя</h2>
<form class="form-body" method="post" asp-action="Register" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-input">
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-input">
        <label asp-for="Email"></label><br />
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-input">
        <label asp-for="PhoneNumber"></label><br />
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-input">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-input">
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="form-button">
        <input class="action-link-default" type="submit" value="Регистрация" />
    </div>
</form>
